body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner"
        "side main"
        "footer footer";
        grid-gap: 4px;
    
}

/* ---- End of grid setup ---- */

/* -000- Area styling -000- */

.box {
    padding: 20px;
    border-radius: 10px; 
    }

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #6C9D58;  /* dark blue */
}

/* Set font on dark areas to white */
.logo, .banner, .side, .footer {
    color: #ffffff;
}

/* Area specifics */

.logo {
    padding: 0;
    float: left;
    
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #DDD;
    font-size: 150%;
    text-align: center;
}

.side {
    grid-area: side;
    background-color: #639051;
}

.main {
    grid-area: main;
    background-color: #BAD8B9;  /* very pale green */
    border: solid 1px #24341D;
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Side Links */
a.side{font-weight: bold; text-decoration: none;}
a.side:link, .nav a:visited {color: #C2D8B9;}
a.side:hover {color: #AFCCA4;}


/* links in page */
a {font-weight: bold;}
a:link{color: #C2D8B9;} /*light green */
a:visited{color: #81AE6F;} /* darker green */
a:hover{color: #AFCCA4;}    /* medium light green*/


/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #2D4125; /* purple */
    font-weight: bold;
}
